option_settings:
  aws:elasticbeanstalk:command:
    DeploymentPolicy: RollingWithAdditionalBatch
    Timeout: 1000
    IgnoreHealthCheck: false
    BatchSize: 1
    BatchSizeType: Fixed

  aws:autoscaling:asg:
    MinSize: 3
    MaxSize: 6
    Cooldown: 360

  aws:autoscaling:trigger:
    MeasureName: CPUUtilization
    Statistic: Average
    Unit: Percent
    UpperThreshold: 80
    LowerThreshold: 20

  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced
    EnhancedHealthAuthEnabled: true
