option_settings:
  aws:elasticbeanstalk:command:
    DeploymentPolicy: TrafficSplitting
    BatchSizeType: Percentage
    BatchSize: 15                # % of fleet for canary deployment
    Timeout: 10                  # Command timeout in minutes (should be longer than EvaluationTime)
    IgnoreHealthCheck: false

  aws:elasticbeanstalk:trafficsplitting:
    NewVersionPercent: "15"      # % of traffic routed to new version during evaluation
    EvaluationTime: "5"          # Time in minutes to evaluate canary

  aws:autoscaling:asg:
    MinSize: 3
    MaxSize: 6
    Cooldown: 360